@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	
}

.top-title {
	text-align: center;
}

.pink-sqaures {
	width:100%;
}

.space-filler {
	font-size: 1.5vw;
	
}

/* Copy this code #1st copy */

@media screen and (max-width:750px) {
	body {
		background-color: palevioletred;
	}
	h1.top-title {
		color:white;
		
	}
	p.space-filler {
		font-size:22px;
		margin-right:20px;
		margin-left:20px;
		color: aliceblue;
		font-family: 'Dancing Script', cursive;
	}
	img.pink-squares {
		display:none;
	}
	
}
/* end code */


