@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	
}

.top-title {
	text-align: center;
}

.pink-sqaures {
	width:100%;
}

.space-filler {
	font-size: 1.5vw;
	
}

/* Copy this code #1st copy */

@media screen and (max-width:750px) {
	body {
		background-color: palevioletred;
	}
	h1.top-title {
		color:white;
		
	}
	p.space-filler {
		font-size:10px;
		margin-right:80px;
		margin-left:80px;
		color: aliceblue;
		font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	}
	
}
/* end code */


